[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
django-cloudinary-storage = "*"
pillow = "*"
gunicorn = "==20.0.4"
whitenoise = "==5.2.0"
psycopg2-binary = "*"
dj-database-url = "==0.5.0"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.8"
