{% extends 'layout/base.html' %}

{% block content %}


<div class="container">
  <h3 class='mb-4'>List of books</h3>
  <div class="row row-equal-height">

    {% for book in object_list %}
    <div class="my-3 col-md-4">
      <div class="card h-100">
        {% if book.image %}
        <img src="{{book.image.url}}">
        {% else %}
        <img src="https://res.cloudinary.com/dpgy8pcbk/image/upload/v1/media/images/61QrCdBXSTL._SX569__x4rj6u">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">{{ book.description }}</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}